<nav id="navbarShop">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/adm/add/users">Se cadastrar</a>
      </li>
      
      <li id="userPanel">
        <a href = '/user/painel'>Painel do Usuário</a>
      </li>
      
      <li id="cart" onmouseenter="showCart()">    
        <a >
          Carrinho                      
        </a>
          
          <p>
            <button onclick="emptyCart()">Ezvaziar carrinho</button>
            
            <br>
            <br>
            
            <cartOnClick id="cartOnClick">

            </cartOnClick>

          </p>
          
      </li>



    </ul>
  </nav>
  
  <br>
  
  <style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
    htmsl {
      height: 100%;
      background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    }
  
    navs {
      max-width: 2000px;
      mask-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 25%,
        #ffffff 75%,
        rgba(255, 255, 255, 0) 100%
      );
      margin: 0 auto;
      padding: 6px 0;
    }
  
    nav ul {
      text-align: center;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(255, 255, 255, 0) 100%
      );
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
    }
  
    nav ul li {
      display: inline-block;
    }
  
    nav ul li a {
      padding: 20px;
      font-family: "Open Sans";
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      text-decoration: none;
      display: block;
    }
  
    nav ul li a:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
      color: rgba(0, 35, 122, 0.7);
    }

    #cart {
      background-color: #8e44ad;

      /* position: absolute;
      right: 0; */


    }


    nav ul li p{
      
      display: none;


    }
    nav ul li:hover p{
      background-color: white;
    
      display: block;


      position: absolute;
      /* right: 0; */

      min-width: 300px;
      min-height: 300px;
      height: auto;
      width: auto;
      
      padding: 15px;
      line-height: 30px;


    }
  
  
  </style>
  
  <script>
    
    function emptyCart(){


          var cookies = document.cookie.split(';');//contains all the cookies
          var cookieName = []; // to contain name of all the cookies

          for(let i=0;i<cookies.length;i++) {
            cookieName[i] = cookies[i].split('=')[0].trim();
          }


          if(cookieName.includes('userID')) {
            alert("EXIST ID - Empty at Server")



            var ajax = new XMLHttpRequest()
            
            ajax.open('POST', '/shop/cart/empty')
            
            ajax.setRequestHeader('content-type','application/x-www-form-urlencoded')
            
            ajax.onreadystatechange = function(){
              var newItem = document.createElement('p')
              
              var cartOnClick = document.getElementById('cartOnClick')
                    
                    cartOnClick.appendChild(newItem)
      
      
                  // newItem.innerHTML = ajax.responseText
                  newItem.innerHTML = typeof ajax.responseText + '<br>' + ajax.responseText
                  // alert(ajax.response)
      
            }
      
      
            ajax.send()
      
            document.getElementById('cartOnClick').innerHTML = `Carrinho vazio`

          }
          else {
            // alert("DOESN'T EXIST ID - Empty at Local Storage")

            window.localStorage.clear()

            // alert('LocalStorage is empty now')

            document.getElementById('cartOnClick').innerHTML = `Carrinho vazio`


          }



          }


    function showCart(){

      document.getElementById('cartOnClick').innerHTML = ''
      
      var cookies = document.cookie.split(';');//contains all the cookies
      var cookieName = []; // to contain name of all the cookies

      for(let i=0;i<cookies.length;i++) {
        cookieName[i] = cookies[i].split('=')[0].trim();
      }


      if(cookieName.includes('userID')) {
        // alert("EXIST ID - Show at Server")
      
            var ajax = new XMLHttpRequest()
            
            ajax.open('POST', '/shop/cart/show', false)
            
            ajax.setRequestHeader('content-type','application/x-www-form-urlencoded')
            
            ajax.onreadystatechange = function(){
              var newItem = document.createElement('p')
              
              var cartOnClick = document.getElementById('cartOnClick')
                    
                    cartOnClick.appendChild(newItem)

                    // thisAjaxResponse = (ajax.response).replace('[[', '[').replace(']]', ']')
                    thisAjaxResponse = (ajax.response).trim('[', ']')


                    newItem.innerHTML = thisAjaxResponse[2]



// ==============================================
// CONTINUAR DAQUI

// 
// Show + add cart without ID = OK
// 
// Show + add cart with ID = DAMN
// 






            }
      
      
            ajax.send()
          
          
          }
          
          
          else {
            // alert("DOESN'T EXIST ID - Show at LocalStorage")


            // The cart is already empty?
            if(JSON.stringify(window.localStorage) == '{}' || JSON.stringify(window.localStorage) == null || JSON.stringify(window.localStorage) == undefined ){

              document.getElementById('cartOnClick').innerHTML = `Carrinho vazio`






            }
            else{

              // alert('exist LS')




              var allLocal = JSON.stringify(window.localStorage)
              allLocal = allLocal.replace('{', '').replace('}', '')
              allLocal = allLocal.split(',')


              // VAR TO SHOW ALL PRODUCTS AT LS
              var allCartProducts = []


                    // separe each item
                    allLocal.forEach(item => {
                        // separe/show each product with json
                        item  = item.replace('"', '').replace('":"',':').replace('"', '')
                        item = item.split(':')

                        itemCode =Number(item[0])
                        itemQtd = Number(item[1])



                        // see at server the single product price
                                var ajax = new XMLHttpRequest()
                                
                                var params = `itemCode=${itemCode}`
                                        
                                ajax.open('POST', '/shop/cart/priceSingleProduct', false)
                                

                                ajax.setRequestHeader('content-type','application/x-www-form-urlencoded')
                                
                                ajax.onreadystatechange = function(){
                                        
                                  
                                  
                                  // var txtShowProduct = `Item: ${allCartProducts[i][0]} | Qtd: ${allCartProducts[i][1]} | Preço: ${ajax.response}<br>`

                                  // newP.innerHTML = `Item: ${allCartProducts[i][0]} | Qtd: ${allCartProducts[i][1]} | Preço: ${ajax.response}<br>`

                                  let thisResponse = (ajax.response).split('///')
                                  


                                  allCartProducts.push([itemCode , itemQtd , Number(thisResponse[0]) , thisResponse[1]])

                                  
                                }
                                
                                
                                ajax.send(params)
                                // 
                                
                                
                                
                                

                      })  //end of forEach


                      // Show each item
                      for(var i=0 ; i<allCartProducts.length ; i++){
              
                        let newP = document.createElement(`p${i}`)

                        
                                
                                
                                
                                newP.innerHTML = `${allCartProducts[i][3]} | Qtd: ${allCartProducts[i][1]} X ${allCartProducts[i][2]} | Preço: ${allCartProducts[i][1] * allCartProducts[i][2]}<br>`

                                document.getElementById('cartOnClick').appendChild(newP)


                      }


            }



          }


    }





  </script>