
    .infoPurchase{

        display: inline;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10pt;



    }

    .infoPurchaseResult{


        display: inline;
        font-size: 8pt;



    }

    .eachPurchase{
        border: solid 1pt;
        padding: 10px;
        margin: 5px;
        /* display: inline; */
        pointer-events: none;

    }

    img{
        max-width: 50px;
        

    }