<html lang="pt-br">
    <%- include('./partials/head.ejs') %>
    <header>
      <%- include('./partials/navbarUser.ejs') %>
      

      <%- include('./partials/AddUser.ejs') %>
      <link rel="stylesheet" href="/css/homeUser.css">

    </header>

<body>

    <div action="">
      <h1>Esta é a página inicial
        <br>
        de clientes</h1>

        <br>
        <h3>Por ela, você acessa:</h3>
        <li>Login</li>
        <li>Cadastro</li>
        <li>Painel do Usuário</li>

        <br>
        <h3>O que o usuário pode fazer:</h3>
        <li>Cadastro</li>
        <li>Edição</li>
        <li>Exclusão </li>
        <br>

        <h3>Quais dados?</h3>
        <li>Nomes</li>
        <li>Emails</li>
        <li>Senhas</li>
        <li>Qualquer informação e mídias
          <br>
          que a empresa desejar</li>
        <br>

        <h3>OBS.: Pode ser adaptada para qualquer uso!</h3>

    </div>




    </body>

    <footer>
      <%- include('./partials/foot.ejs') %>

    </footer>


</html>