<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/navbarUser.ejs') %>

  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
          90deg,
          rgba(65, 184, 131, 1) 0%,
          rgba(0, 212, 255, 1) 100%
        );

}
.background{
    width: 430px;
    height: 520px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
z-index: 0;

}
.background .shape{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -330px;
    bottom: -200px;

}
form{
    height: auto;
    width: 400px;
    background-color: rgba(247, 0, 255, 0.37);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
    position: relative;
    left: 40%;

}

sad00000000000{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;

}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
    #createUser , #changePassword{
        background-color: #ffffff00;
        color: #ffffff;
        width: auto;       
        padding: auto;
        font-size: 14px;
        padding: 5px 5px;
        margin-top: auto;
        text-align: left;
        cursor: pointer;


    }

    #dadosIncorretos{
        color: rgb(255, 255, 255);
        text-align: center;
        background-color: #ff0000d7;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding: 5px ;
        border-radius: 40px;


    }

    #foot{    
        top: 60%;                         
z-index: 10;
    }


    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>


<d id="adjustFooter">

    <form id="formChangePassword" action="/user/login/redefinir/<%=id%>" method="post">

        <h3>Digite a nova senha</h3>
    
        <label for="password">Digite sua nova senha:</label>
        <input type="password" placeholder="Senha" name="password" id="password" >
            <p id="passwordToChange"></p>

            <hr>
            
        <label for="password2">Confirme sua senha:</label>
        <input type="password" placeholder="Senha" name="password2" id="password2" >
            <p id="passwordToChange2"></p>
    
        
        <button type="button" name="buttonLogin" id="buttonLogin" onclick="validar(password,password2)">Alterar Senha</button>       

        <br><br> 
            
    </form>

    
    <p id="foot">
        <%- include('./partials/foot.ejs') %>

    </p>

</d>


</body>

<script>
    function validar(password,password2){

        var passwordToChange = document.getElementById('passwordToChange')
        var passwordToChange2 = document.getElementById('passwordToChange2')


                          
        if(password.value.length == 0){
                passwordToChange.innerHTML = 'Preencha o campo'
        }
        else if(password2.value.length == 0){
                passwordToChange2.innerHTML = 'Preencha o campo'

        }
        else if(password.value != password2.value){        
            passwordToChange2.innerHTML = 'Os campos precisam ser iguais'
        }
        else if(password.value === password2.value && password.value.length > 0){
        
                    //Is all data complete? - Todos os campos escritos?
                    var regex = /^(?=(?:.*?[A-Z]){3})(?=(?:.*?[0-9]){2})(?=(?:.*?[!@#$%*()_+^&}{:;?.]){1})(?!.*\s)[0-9a-zA-Z!@#$%;*(){}_+^&]*$/
          
                              
                              //Validate password - mínimo 3 caracteres em maiúsculo, 2 números e 1 caractere especial
                              if(password.value.length < 8){
                                passwordToChange.innerHTML = 'A senha deve conter 09 caracteres ou mais'
                              }
                              else if(!regex.exec(password.value))
                              {
                                passwordToChange2.innerHTML = `A senha deve conter no mínimo 3 caracteres em maiúsculo, 2 números e 1 caractere especial!`
                              }
                              else {

                                //OK
                                
                                document.getElementById("formChangePassword").submit()

                            }
    }     
    }
</script>

</html>