<form action="/teste" method="post">  

    <div>
        txt: 
        <input type="text" name="testing1" id="testing1">
        <input type="text" name="testing2" id="testing2">
        <input type="submit" value="Send">
    </div>

</form>
<input type="button" onclick="window.location = '/teste'" value="F5">
<hr>




<script>



    

    
</script>


<style>
    body{
        text-align: center;
        color: white;
        background-color: black;
    }
</style>