  <nav id="userPainel">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/adm/add/users">Se cadastrar</a>
      </li>
      <li>
        <a onclick="userPanel()">Painel do Usuário</a>
      </li>
      <li>
        <a href="/shop">Shop</a>
      </li>      
      <li>
        <a href="https://www.linkedin.com/in/pabloitalo/">Contacts</a>
      </li>
    </ul>
  </nav>
  <br>
  
  <style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
    htmsl {
      height: 100%;
      background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    }
  
    a{
        cursor: pointer;
    }
    navs {
      max-width: 2000px;
      mask-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 25%,
        #ffffff 75%,
        rgba(255, 255, 255, 0) 100%
      );
      margin: 0 auto;
      padding: 6px 0;
    }
  
    nav ul {
      text-align: center;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(255, 255, 255, 0) 100%
      );
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
    }
  
    nav ul li {
      display: inline-block;
    }
  
    nav ul li a {
      padding: 20px;
      font-family: "Open Sans";
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      text-decoration: none;
      display: block;
    }
  
    @media only screen and (max-device-width: 900px) {
    
    nav ul li a {
    padding: 5px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: white;
    font-size: 12pt;
    text-decoration: none;
    display: block;
  }

}

    nav ul li a:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
      color: rgba(0, 35, 122, 0.7);
    }
  
  
  </style>
  
  <script>

    //To Know if user is logged
    function userPanel(){

      //search entire url
      var url = window.location.href
      //search last part of url
      url = url.split('/');
            const lastPartUrl = url[url.length-1]

            // Is ID
            if(lastPartUrl.length > 15){
              location.href = `/user/painel/${lastPartUrl}`
            }
            // Not is ID
            else{
              location.href = '/user/painel'
            }
      }
  </script>