<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
  
<head>
    <%- include('../partials/navbarLogged.ejs') %>
    <%- include('../partials/AddUser.ejs') %>

</head>


<body>

<div>

    











</div>
    

    
</body>


<footer>
<%- include('../partials/foot.ejs') %>
</footer>


